div.video_block {
  display: none;
}

div.img_block {
  display: none;
}

div.img_main_block {
	display: none;
}

.img_list_show {
  text-align: center;
}

.form_tabs {
	margin-bottom: 15px;
}

.imgs_list_title, .imgs_list_click {
	margin-top: 5px;
}
