/*赛事图片轮播*/

.league {
  padding: 10px;
}

.league_images {
  position: relative;
  overflow: hidden;
}

.league_schedule {
  padding-left: 10px;
}

#league_videobox {
  padding: 0;
}

.right_conten>div:nth-child(3) {
  padding: 0px 35px;
  border-top: 1px solid #dddddd;
  line-height: 30px;
  font-size: 20px;
  background-color: #252436;
  color: #FFF;
}

a.img_a {
  width: 100%;
  height: 450px;
  position: absolute;
  left: 0;
  z-index: 0;
  opacity: 0;
  top: 0;
}

a.img_a>img {
  width: 100%;
  height: 450px;
}

svg path {
  fill: inherit;
}

.league_top_menus li {
  float: left;
  margin-left: 20px;
}

.league_top_menus li>a.active {
  text-decoration: underline;
  color: #ff7043;
}

.svg_icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: -6px;
  pointer-events: none;
}

.svg_icon_btn {
  position: absolute;
  top: -8.5px;
  fill: red;
  height: 46px;
  right: -18px;
}

.progress_bottom_win {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FF0000;
  height: 2px;
  width: 0;
  z-index: 1;
}

.left_btn {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border-radius: 0 5px 5px 0;
  z-index: 2;
  transition: transform 1s;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transform: translate(-60px, 0px);
  -moz-transform: translate(-60px, 0px);
  -webkit-transform: translate(-60px, 0px);
  cursor: pointer;
}

.right_btn {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border-radius: 5px 0 0 5px;
  z-index: 2;
  transition: transform 1s;
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transform: translate(60px, 0px);
  -moz-transform: translate(60px, 0px);
  -webkit-transform: translate(60px, 0px);
  cursor: pointer;
}

.right_svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.focus-num {
  padding-right: 10px;
  display: inline-block;
  width: auto;
  height: auto;
  line-height: 40px;
  color: #f2f2f3;
  font-size: 24px;
  font-style: italic;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.focus-num .current {
  color: #e13703;
  font-size: 40px;
}

.i_title {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 80%;
  height: 30px;
  line-height: 36px;
  color: #f2f2f3;
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
}

.my_img {
  display: block;
}
.cln_standby_btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

button.x-btn {
  color: #FFF;
  background-color: rgba(255, 112, 67, 0.6);
  background-color: #ff7043\0; /* ie8 */
  border: 1px solid #FFF;
  line-height: 25px;
}

.cln_x_info> p {
  font-size: 16px;
  margin-top: 5px;
}

#clan_schedule_lsitid {
  border: 0;
}

.venues_province>ul>li {
  float: left;
  margin-left: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
}

.venues_province>ul>li>a {
  display: block;
  padding: 0 10px;
  color: #525e71;
  border: 1px solid #bbbbbb;
}

.venues_province>ul>li>a.active {
  background-color: #ff9800;
  color: #FFF;
}

caption {
  background-color: #ffc000;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  font-weight: bold;
  color: #000;
}


.prov_top {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.prov_top>div {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  font-size: 18px;
  /*background-color: #2e2e4b;*/
  width: 35%\0;/* IE8 */
  float: left\0;/* IE8 */
}

.prov_top>div>div.group_menus {
  height: 45px;
  position: relative;
  /*background-color: #2e2e4b;*/
  padding: 5px;
  color: #525e71;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

.prov_top .group_thead {
  background-color: #959595;
  height: 45px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  margin: 5px 10px;
}

.prov_top .group_tbody{
  font-size: 18px;
  color: #525e71;
  text-align: center;
  line-height: 24px;
  margin: 10px;
}

.prov_top>div:last-child {
  width: 280px;
  background-color: #FFF;
}

.prov_top>div:last-child>div {
  border-bottom: 4px solid #d9d9d9;
  height: 50px;
  background-color: #FFF;
  padding: 0;
  color: #313131;
  margin-left: 5px;
  font-size: 25px;
  line-height: 40px;
}

.prov_top>div:last-child>ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-top: 10px;
}

.prov_top>div:last-child>ul>li {
  line-height: 38px;
  font-size: 18px;
}

.prov_top>div:last-child>ul>li a {
  display: block;
  color: #8d9499;
}

.prov_top>div:last-child>ul>li a:hover {
  text-decoration: underline;
}

.prov_top>div:last-child>div>span {
  border-bottom: 4px solid #aa1707;
  padding: 11px 10px;
}

.prov_top>div>div>a {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  height: 40px;
  color: #8d9499;
  background-color: #FFF;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

.prov_top>div>div>a.left_abtn {
  position: absolute;
  left: 10px;
  width: 46.5%;
}

.prov_top>div>div>a.right_abtn {
  position: absolute;
  right: 10px;
  width: 46.5%;
}

.prov_top>div>div>a:hover {
  background: #464670;
  color: #fff;
}

.prov_top>div>div>a.actived {
  background: #464670;
  color: #fff;
}

#pro_gourp_cln_ls {
  width: 100%;
}

#province_lstid li{
  float: left;
  margin-left: 20px;
}

#clan_schedule_lsitid_prov table {
    font-size: 18px;
}

.img_netbar:hover {
	position: relative;
    display: block;
    left: 240px;
	transform: scale(7.5);
   -ms-transform: scale(7.5);
   /* IE 9 */
   -webkit-transform: scale(7.5);
   /* Safari and Chrome */
}


.prov_top>div.x-news-block {
  width: 200px;
  width: 30%\0;/* IE8 */
  height: 100%\0;/* IE8 */
  background-color: #FFF;
}

.prov_top>div.x-news-block .x-news-title {
  border-bottom: 4px solid #d9d9d9;
  height: 50px;
  background-color: #FFF;
  padding: 0;
  color: #313131;
  margin-left: 5px;
  font-size: 25px;
  line-height: 40px;
}

.prov_top>div.x-news-block>ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-top: 10px;
}

.prov_top>div.x-news-block>ul>li {
  line-height: 38px;
  font-size: 18px;
}

.prov_top>div.x-news-block>ul>li a {
  display: block;
  color: #8d9499;
  white-space: nowrap;
}

.prov_top>div.x-news-block>ul>li a:hover {
  text-decoration: underline;
}

.prov_top>div.x-news-block>div>span {
  border-bottom: 4px solid #aa1707;
  padding: 11px 10px;
}

@-webkit-keyframes img_act {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
  }
  50% {
    opacity: 0.5;
    -webkit-opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-opacity: 1;
  }
}

@-moz-keyframes img_act {
  0% {
    opacity: 0;
    -moz-opacity: 0;
  }
  50% {
    opacity: 0.5;
    -moz-opacity: 0.5;
  }
  100% {
    opacity: 1;
    -moz-opacity: 1;
  }
}

@-o-keyframes img_act {
  0% {
    opacity: 0;
    -o-opacity: 0;
  }
  50% {
    opacity: 0.5;
    -o-opacity: 0.5;
  }
  100% {
    opacity: 1;
    -o-opacity: 1;
  }
}

@-ms-keyframes img_act {
  0% {
    -ms-opacity: 0;
  }
  50% {
    -ms-opacity: 0.5;
  }
  100% {
    -ms-opacity: 1;
  }
}

@keyframes img_act {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes progress_bottom_act {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-moz-keyframes progress_bottom_act {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-o-keyframes progress_bottom_act {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-ms-keyframes progress_bottom_act {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress_bottom_act {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
